<html>
    <head>
        <link rel='stylesheet' href="/css/styles.css">
    </head>
    <body>
        <div>
            {{>header}}
        </div>
        {{>footer}}
        <script href='/js/app.js'></script>
    </body>
</html>