body {
    background-color: cadetblue;
    max-width: 1000px;
    text-align: center;
}

input {
    margin: 15px;
    padding: 10px;
    width: 200px;
}

button {
    margin: 15px;
    padding: 10px;
    /* border: 1px solid gold;
    cursor: pointer; */
}

img {
    width: 800px;
}